.clock
  color white
  display inline-block
  font-family Comfortaa
  top 5px
  right 20px
  position absolute

.search
  position absolute
  left 40%
  top 40%

.weather
  position absolute
  top 25px
  left 20px
  font-family Comfortaa
  font-size 10px
  color white
