.clock
  color white
  display inline-block
  font-family Comfortaa, sans-serif
  top 5px
  right 20px
  position absolute

.search
  position absolute
  left 40%
  top 40%

.weather
  position absolute
  top 25px
  left 20px
  font-family Comfortaa, sans-serif
  font-size 10px
  color white

.quote
  position absolute
  color white
  font-family Lato, sans-serif
  top 10px
  width 100%
  margin 0 auto
  text-align center
